In [2]:
import pandas as pd
import numpy as np

In [1]:
from google.colab import files
upload = files.upload()

Saving Advertisement Sale Prediction From an Existing Customer.xlsx to Advertisement Sale Prediction From an Existing Customer.xlsx

**LOAD** **DATASET**

In [3]:
df = pd.read_excel("Advertisement Sale Prediction From an Existing Customer.xlsx")
df

     AGE  SALARY  PURCHASE STATUS
0     19   12439                0
1     23   34642                1
2     23   17790                1
3     19   34282                0
4     19   38039                1
..   ...     ...              ...
113   73   39951                0
114   76   37607                1
115   80   47417                0
116   71   48965                0
117   75   32745                0

[118 rows x 3 columns]

**SUMMARIRIZE DATASET**

In [8]:
df.head()

   AGE  SALARY  PURCHASE STATUS
0   19   12439                0
1   23   34642                1
2   23   17790                1
3   19   34282                0
4   19   38039                1

In [10]:
df.describe()

              AGE        SALARY  PURCHASE STATUS
count  118.000000    118.000000       118.000000
mean    42.771186  49103.745763         0.525424
std     18.564008  20949.837136         0.501483
min     18.000000   8348.000000         0.000000
25%     28.000000  32769.250000         0.000000
50%     38.000000  46139.500000         1.000000
75%     58.750000  66965.750000         1.000000
max     80.000000  96922.000000         1.000000

**Segregate Dataset into X(input/IndependentVariable)& Y(Output/DependentVariable)**

In [4]:
x = df.iloc[:,:-1].values
x

array([[   19, 12439],
       [   23, 34642],
       [   23, 17790],
       [   19, 34282],
       [   19, 38039],
       [   24, 24678],
       [   18, 29232],
       [   19, 17241],
       [   25, 19830],
       [   24, 21178],
       [   19,  9040],
       [   20,  8451],
       [   18, 23650],
       [   22, 15418],
       [   24, 32158],
       [   24, 28123],
       [   25, 31198],
       [   24,  8348],
       [   24, 18314],
       [   22, 32558],
       [   25, 29355],
       [   20, 28149],
       [   21, 37241],
       [   24, 12012],
       [   19, 31889],
       [   28, 31623],
       [   35, 46246],
       [   35, 72320],
       [   33, 47254],
       [   29, 42374],
       [   38, 47074],
       [   28, 67045],
       [   31, 28641],
       [   30, 32712],
       [   29, 66377],
       [   35, 34504],
       [   37, 41329],
       [   31, 28118],
       [   27, 28767],
       [   29, 79165],
       [   26, 67860],
       [   27, 66441],
       [   29, 74538],
       [   40, 55900],
       [   28, 49011],
       [   29, 42623],
       [   38, 76877],
       [   39, 57056],
       [   33, 78103],
       [   29, 39019],
       [   38, 40525],
       [   37, 76798],
       [   29, 46738],
       [   38, 68470],
       [   30, 68815],
       [   36, 37953],
       [   34, 54873],
       [   38, 58428],
       [   36, 33611],
       [   30, 25507],
       [   28, 77555],
       [   26, 53477],
       [   28, 76204],
       [   37, 61316],
       [   28, 58408],
       [   48, 53594],
       [   57, 69872],
       [   54, 69299],
       [   44, 79668],
       [   42, 62486],
       [   48, 76360],
       [   57, 66728],
       [   53, 54558],
       [   44, 40148],
       [   50, 87471],
       [   56, 82410],
       [   60, 40682],
       [   46, 54091],
       [   56, 90543],
       [   55, 45048],
       [   52, 75072],
       [   58, 68385],
       [   59, 64525],
       [   46, 57997],
       [   49, 68702],
       [   49, 65022],
       [   41, 60661],
       [   50, 73662],
       [   59, 76723],
       [   41, 60243],
       [   44, 49381],
       [   79, 87426],
       [   61, 72478],
       [   70, 59297],
       [   64, 88423],
       [   73, 83192],
       [   62, 96922],
       [   64, 73191],
       [   74, 57864],
       [   73, 42081],
       [   61, 43520],
       [   80, 33430],
       [   68, 34762],
       [   64, 45233],
       [   72, 31749],
       [   69, 32842],
       [   69, 31188],
       [   63, 46033],
       [   71, 35283],
       [   75, 36390],
       [   72, 45293],
       [   66, 40623],
       [   74, 42096],
       [   73, 39951],
       [   76, 37607],
       [   80, 47417],
       [   71, 48965],
       [   75, 32745]])

In [5]:
y = df.iloc[:,-1].values
y

array([0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0])

**Splittimg Dataset into Train & Test**

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25, random_state = 0)

**Feature Scaling**
We scale our data to make all the features contribute equally to the result

Fit_Transform - fit methodis calculating the mean and the variance of each of the features present in our data

Transform  - this method is transforming all the features using the respective mean and variancd,

we want our test data to be a completely new and surprise set for our model

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)
x_train

array([[-0.27317236, -0.44595046],
       [ 0.37073391,  1.83310278],
       [-0.7024432 ,  0.92742355],
       [-0.80976091,  1.35171796],
       [-1.29269062, -0.74902483],
       [ 1.6048876 ,  1.62537329],
       [-1.34634947, -0.9941835 ],
       [-0.48780778,  0.25059144],
       [ 1.65854645,  0.39579333],
       [ 0.04878078, -0.01602468],
       [ 1.65854645, -0.36968427],
       [-0.54146664,  1.37832131],
       [ 1.6048876 , -0.37041246],
       [ 0.90732247, -0.43832869],
       [-0.43414892,  1.09757823],
       [-1.02439634, -1.52421169],
       [-1.23903176, -2.00302356],
       [-0.91707863,  0.18282084],
       [ 1.39025217, -0.89922699],
       [ 1.12195789,  1.13986203],
       [ 0.69268705,  1.98223693],
       [-0.7024432 , -1.17501836],
       [-1.07805519, -0.73154817],
       [ 0.96098133,  1.10524854],
       [-0.75610206,  1.20525386],
       [-0.86341977,  0.8121747 ],
       [-1.29269062, -0.56663649],
       [-1.02439634, -1.04802131],
       [-1.02439634, -2.00802382],
       [-0.75610206, -0.14433248],
       [-0.91707863,  0.88106186],
       [-0.86341977, -1.01675751],
       [-1.02439634, -1.21526322],
       [-0.27317236,  0.91067509],
       [ 1.49756988, -0.70043001],
       [ 0.7463459 ,  0.97873696],
       [-1.29269062, -1.80942103],
       [-0.75610206,  0.80906774],
       [-0.54146664, -0.1192826 ],
       [-0.38049007, -0.57081147],
       [-0.43414892, -0.73824756],
       [-1.02439634, -1.83015029],
       [-0.80976091,  0.84149665],
       [ 1.44391103,  0.46536014],
       [-0.27317236,  0.42317343],
       [ 1.92684073,  1.8309182 ],
       [ 1.98049959, -0.79038625],
       [-0.64878435, -1.02287434],
       [ 0.96098133, -0.30055438],
       [-1.02439634, -0.85213711],
       [ 1.01464018,  2.29191359],
       [-1.13171405, -0.8327186 ],
       [-0.75610206, -0.3561884 ],
       [-0.75610206, -0.51906114],
       [ 0.85366361,  0.71916005],
       [ 1.98049959, -0.11136956],
       [ 1.49756988, -0.03621993],
       [ 0.63902819, -0.22637568],
       [-0.05853693,  0.6201742 ],
       [ 0.47805162,  1.23117757],
       [-0.97073748, -0.98821231],
       [ 1.22927561, -0.44119292],
       [ 0.53171048,  0.23529936],
       [ 0.15609849,  0.21262825],
       [-0.80976091, -0.87810936],
       [-0.64878435, -1.04826404],
       [ 0.80000476,  0.90654865],
       [ 1.55122874, -0.87199253],
       [-0.27317236,  1.31880359],
       [ 1.06829904, -0.1785576 ],
       [-0.75610206,  1.42987745],
       [ 0.2634162 ,  0.18850076],
       [-0.38049007, -0.78159938],
       [-1.34634947, -1.26516878],
       [ 1.39025217, -0.81893146],
       [ 0.85366361,  1.31132746],
       [ 0.2634162 ,  1.29370516],
       [ 0.37073391,  1.16272732],
       [-0.32683121, -0.40691926],
       [-1.23903176, -1.04675911],
       [ 0.15609849,  0.40224999],
       [-1.02439634, -1.38517517],
       [ 1.12195789, -0.21739462],
       [ 1.76586416, -0.58760848],
       [ 0.58536934,  0.95091994],
       [-0.80976091,  0.42220251],
       [-0.2195135 ,  0.35656795],
       [-0.80976091, -0.0339868 ]])

**Training**

In [14]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state = 0)
model.fit(x_train,y_train)

LogisticRegression(random_state=0)

*Predicting, whether new customer with Age And Salary will Buy or Not*

In [16]:
age = int(input("age"))
salary = int(input("Salary"))
newCust = [[age,salary]]
result = model.predict(sc.transform(newCust))
print(result)
if result == 1:
  print("Customer will Buy the Product")
else:
  print("Customer will Not Buy the Product")

age25
Salary8000
[0]
Customer will Not Buy the Product

**Prediction For All The Test Data*

In [17]:
y_pred = model.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]]

**Accurecy And Confusion Matrix**

In [18]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)

print("Confusion Matrix : ")
print(cm)

print("Accuracy of the Model : {0}%".format(accuracy_score(y_test , y_pred)*100))

Confusion Matrix :
[[18  0]
 [12  0]]
Accuracy of the Model : 60.0%